<!-- <header class="header">
  <div class="container header-container">
    <div class="wrapp-header">
      <a href="" class="logo"><span class="logo-span">Lloyd</span>Jefferson.</a>

      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item"><a href="">About me</a></li>
          <li class="nav-item"><a href="">Projects</a></li>
          <li class="nav-item"><a href="">Contacts</a></li>
        </ul>
      </nav>
      <a href="" class="link-burger">
        <svg class="icon-burger" width="22" height="16">
          <use href="../img/sprite.svg#icon-burger"></use>
        </svg>
      </a>
    </div>
  </div>
</header> -->

<header class="header">
  <div class="container header-container">
    <a href="" class="logo"><span class="logo-span">Lloyd</span>Jefferson.</a>

    <nav class="navigation">
      <ul class="nav-list-head">
        <li class="nav-item-head"><a href="">About me</a></li>
        <li class="nav-item-head"><a href="">Projects</a></li>
        <li class="nav-item-head"><a href="">Contacts</a></li>
      </ul>
    </nav>
    <button type="button" class="burger-btn">
      <svg class="icon-burger" width="22" height="16">
        <use href="../img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
