<section>
  <div class="container hero-container">
    <!-- <svg class="hero-svg" width="320">
      <use href="../img/sprite.svg#icon-decor-bg-hero-mob"></use>
    </svg> -->
    <img src="../img/bg-img/bg-mob-hero.png" alt="" class="bg-hero" />
    <h1 class="title">
      Hello, I am
      <img class="hero-img" src="../img/imgs-about-me/s2.jpg" alt="" /><span
        class="span-title"
        >Fullstack developer</span
      >
    </h1>
    <div class="wrapp-hero-text">
      <div class="wrapp-hero">
        <svg class="hero-arrow" width="28" height="">
          <use href="../img/sprite.svg#icon-icon-arrow2"></use>
        </svg>
        <a href="" class="hero-link">Order the project</a>
        <div class="background-wrapp"></div>
      </div>
      <p class="hero-text">
        I work with people all over the world to create impressive and
        functional websites that reflect each client’s unique personality.
      </p>
    </div>
  </div>
  <ul class="hero-list">
    <li class="hero-item">Instagram</li>
    <li class="hero-item">Facebook</li>
    <li class="hero-item">Linkedin</li>
    <li class="hero-item">GitHub</li>
  </ul>
</section>
