<div class="modal-overlay" id="modal-overlay">
  <div class="modal-container">
    <div class="wrapp-logo">
      <div class="header-modal">
        <a href="#" class="logo">
          <span class="logo-span">Lloyd</span>Jefferson.
        </a>
      </div>
      <svg class="icon-close" width="32" height="32">
        <use href="../img/sprite.svg#icon-x"></use>
      </svg>
    </div>
    <div class="modal-content">
      <ul class="modal-list">
        <li><a href="#about">About me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
      <img src="../img/bg-img/bg-mob-hero.png" alt="" class="bg-header" />
    </div>
  </div>
</div>
