<section class="section-project" id="project">
  <div class="container container-project">
    <h2 class="title-proj">my <span class="span-proj">projects</span></h2>
    <ul class="project-catalog">
      <li class="project-card">
        <img
          srcset="
            ../img/imgs-my-projects/s5-img1.jpg    1x,
            ../img/imgs-my-projects/s5-img1@2x.jpg 2x
          "
          src="../img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="text-proj">React, JavaScript, Node JS, Git</p>
        <h3 class="name-proj">power pulse webservice</h3>
        <a href=""><button type="button">visit 🡥</button></a>
      </li>
      <li class="project-card">
        <img
          srcset="
            ../img/imgs-my-projects/s5-img2.jpg    1x,
            ../img/imgs-my-projects/s5-img2@2x.jpg 2x
          "
          src="../img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="text-proj">React, JavaScript, Node JS, Git</p>
        <h3 class="name-proj">mimino website</h3>
        <a href=""><button type="button">visit 🡥</button></a>
      </li>
      <li class="project-card">
        <img
          srcset="
            ../img/imgs-my-projects/s5-img3.jpg    1x,
            ../img/imgs-my-projects/s5-img3@2x.jpg 2x
          "
          src="../img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="text-proj">React, JavaScript, Node JS, Git</p>
        <h3 class="name-proj">vyshyvanka vibes Landing Page</h3>
        <a href=""><button type="button">visit 🡥</button></a>
      </li>
      <li class="project-card">
        <img
          srcset="
            ../img/imgs-my-projects/s5-img4.jpg    1x,
            ../img/imgs-my-projects/s5-img4@2x.jpg 2x
          "
          src="../img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="text-proj">React, JavaScript, Node JS, Git</p>
        <h3 class="name-proj">green harvest online store</h3>
        <a href=""><button type="button">visit 🡥</button></a>
      </li>
      <li class="project-card">
        <img
          srcset="
            ../img/imgs-my-projects/s5-img5.jpg    1x,
            ../img/imgs-my-projects/s5-img5@2x.jpg 2x
          "
          src="../img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="text-proj">React, JavaScript, Node JS, Git</p>
        <h3 class="name-proj">wallet webservice</h3>
        <a href=""><button type="button">visit 🡥</button></a>
      </li>
      <li class="project-card">
        <img
          srcset="
            ../img/imgs-my-projects/s5-img6.jpg    1x,
            ../img/imgs-my-projects/s5-img6@2x.jpg 2x
          "
          src="../img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="text-proj">React, JavaScript, Node JS, Git</p>
        <h3 class="name-proj">chego jewelry website</h3>
        <a href=""><button type="button">visit 🡥</button></a>
      </li>
      <li class="project-card">
        <img
          srcset="
            ../img/imgs-my-projects/s5-img7.jpg    1x,
            ../img/imgs-my-projects/s5-img7@2x.jpg 2x
          "
          src="../img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="text-proj">React, JavaScript, Node JS, Git</p>
        <h3 class="name-proj">energy flow webservice</h3>
        <a href=""><button type="button">visit 🡥</button></a>
      </li>
      <li class="project-card">
        <img
          srcset="
            ../img/imgs-my-projects/s5-img8.jpg    1x,
            ../img/imgs-my-projects/s5-img8@2x.jpg 2x
          "
          src="../img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="text-proj">React, JavaScript, Node JS, Git</p>
        <h3 class="name-proj">fruitbox online store</h3>
        <a href=""><button type="button">visit 🡥</button></a>
      </li>
      <li class="project-card">
        <img
          srcset="
            ../img/imgs-my-projects/s5-img9.jpg    1x,
            ../img/imgs-my-projects/s5-img9@2x.jpg 2x
          "
          src="../img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="text-proj">React, JavaScript, Node JS, Git</p>
        <h3 class="name-proj">English excellence webservice</h3>
        <a href=""><button type="button">visit 🡥</button></a>
      </li>
      <li class="project-card">
        <img
          srcset="
            ../img/imgs-my-projects/s5-img10.jpg    1x,
            ../img/imgs-my-projects/s5-img10@2x.jpg 2x
          "
          src="../img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="text-proj">React, JavaScript, Node JS, Git</p>
        <h3 class="name-proj">starlight studio landing page</h3>
        <a href=""><button type="button">visit 🡥</button></a>
      </li>
    </ul>
    <button class="js-load-more load-more-hidden">LOAD MORE</button>
    <button class="js-show-less">SHOW LESS</button>
  </div>
</section>
