/* 
.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-container {
  position: relative;

  background-color: #f0f0f0;
  width: 90%;
  min-width: 320px;
  max-width: 360px;
 
  border-radius: 8px;
  overflow: hidden;
}

.header-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: black;
}

.logo-span {
  color: green;
}

.wrapp-logo {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.icon-close {
  cursor: pointer;
  fill: #000;
}

.modal-content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-list {
}

.modal-list li {
  margin: 15px 0;
}

.modal-list a {
  color: #000;
  font-size: 18px;
  transition: color 0.3s ease;
}

.modal-list a:hover {
  color: #00b068;
}

.modal-overlay.active {
  visibility: visible;
  opacity: 1;
}

.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.icon-close {
  width: 32px;
  height: 32px;
} */

/* .modal-container {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 100%;
  border-radius: 4px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.modal-overlay.active {
  visibility: visible;
  opacity: 1;
} */

/* .modal-overlay {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
} */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-color: #f0f0f0;
}
.test {
  margin: 0 auto;
}

.modal-overlay.active {
  visibility: visible;
  opacity: 1;
}

.bg-header {
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;

  margin: 0 auto;
}

.modal-btn {
  z-index: 100;
}
.nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  z-index: 999;
}
.nav-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-family: 'Poppins', sans-serif;
}
